<%- include('components/header.ejs')  %>
<%- include('components/footer.ejs') %>

<h1>Welcome to Home page</h1>
<label>List of products</label>

<ul>
    <% products.forEach(product => { %>
        <li><%= product.title %></li>
    <% }); %>
</ul>